@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: solid 1px red;
} */

body {
  background-color: #171717;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.gradient {
  background: rgb(156, 162, 251);
  background: linear-gradient(
    90deg,
    rgba(156, 162, 251, 1) 17%,
    rgba(11, 3, 146, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
